# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# SO
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
.env.*

# Node
node_modules/
